@import '../../../../scss/_variables.scss';

.wrap {
  height: 100vh;
  background-image: url('../../../../assets/images/plexus-and-triangles-fantasy-abstract-technology-and-engineering-background-with-original-organic-motion_rbfsdhre__F0000.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.wrap-white {
  background-color: #ffffffba;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-box {
  text-align: center;
}

.text {
  color: $purple;
  display: inline-block;
  -webkit-text-fill-color: transparent;
  background-image: $purple-gradient-linear-horizontal;
  -webkit-background-clip: text;
  font-size: 40px;
  line-height: 100px;
}

.cards {
  position: relative;
  width: 500px;
  height: 300px;
}

.card {
  width: 500px;
  height: 300px;
  background-color: #b5b5b54f;
  position: absolute;
  padding: 50px 100px;
  &__first {
    background-color: $purple-dark;
  }

  &__second {
    left: 50px;
    top: 50px;
    background-color: $purple-light;
  }
  &__sign-in {
    align-items: center;
  }

  &__text {
    color: white;

  }
  &__button {
    width: 60px;
    height: 60px;
    position: relative;
    display: block;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    &_facebook {
      background-image: url('../../../../assets/images/facebook.png');
    }
    &_linkedin {
      background-image: url('../../../../assets/images/linkedin.png');
    }

  }

  &__user {
    align-items: center;
    margin-top: 20px;
  }

  &__user-photo {
    border-radius: 50%;

  }

  &__user-name {

  }
}
