* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  height: 100%;
}

div {
  &:focus {
    outline: none;
  }
}

body {
  height: 100%;
  font-family: Open Sans, sans-serif;
  min-width: 1024px;
  min-height: 768px;
  border: 1px solid transparent;
  background-color: #eaeaea33;
}

a {
  text-decoration: none;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

h1, h2, h3, h4, h5, h6, p, figure {
  margin: 0;
}

img {
  max-height: 100%;
  max-width: 100%;
}

.flex {
  display: flex;
  &_stretch {
    align-items: stretch;
  }
  &_col {
    flex-direction: column;
  }
  &_align-items-center {
    align-items: center;
  }
  &_align-items-start {
    align-items: flex-start;
  }
  &_justify-content-space-between {
    justify-content: space-between;
  }
}

.full-height {
  display: block;
  //height: 100%;
  //overflow: hidden;
}

.back {
  background-size: cover;
  background-repeat: no-repeat;
}

.close-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 3px 0 0 7px;
  border: 1px solid #d0d0d0;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.add-icon {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 3px 0 0 7px;
  border: 1px solid #d0d0d0;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  cursor: pointer;
  transform: rotate(45deg);
}

.truncated-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.relative {
  position: relative;
}

.readOnly {
  pointer-events: none;
}

.hoverable {
  cursor: pointer;
}

