$font-path: 'fonts/';

// COLORS

$light-blue: #2196f3;
$blue: #1565c0;
$dark-blue: #0d47a1;

$white: #fafafa;
$white-dark: #eeeeee;
$grey-light: #c1c1c1;
$material-grey-text: #757575;
$grey-dark: #525252;

$red: #ab0202;
