<div class="wrap">
  <div class="wrap-white">
    <div class="title">
      <p class="title__text">How it works?</p>
    </div>
    <hr class="vertical-line">
    <div class="step-wrap">
      <div class="step step-right">
        <div class="step__digit">01</div>
        <hr class="horizontal-line">
        <p class="step__text">Login with <span>FACEBOOK</span> </p>
      </div>
    </div>
    <hr class="vertical-line">
    <div class="step-wrap">
      <div class="step step-left">
        <div class="step__digit">02</div>
        <hr class="horizontal-line">
        <p class="step__text">Login with <span>LINKEDIN</span> </p>
      </div>
    </div>
    <hr class="vertical-line">
    <div class="step-wrap">
      <div class="step step-right">
        <div class="step__digit">03</div>
        <hr class="horizontal-line">
        <p class="step__text">Enter search <span>CRITERIA</span> </p>
      </div>
    </div>
    <hr class="vertical-line">
    <div class="step-wrap">
      <div class="step step-left">
        <div class="step__digit">04</div>
        <hr class="horizontal-line">
        <p class="step__text">Get list of <span>DEVELOPERS</span> </p>
      </div>
    </div>
    <hr class="vertical-line">
    <div class="step-wrap">
      <div class="step step-right">
        <div class="step__digit">05</div>
        <hr class="horizontal-line">
        <p class="step__text">Choose your <span>DEV</span> </p>
      </div>
    </div>
  </div>
</div>
